@model FoodOrderingAdminDashboard.Models.Graph
@{
    ViewData["Title"] = "Home Page";
}
<div class="MuiContainer-root MuiContainer-maxWidthLg jss16 css-pt49dx">
    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-kd9l2t">
        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8 css-efwuvd">
            <div class="MuiBox-root css-fhsk1m">
                <div class="MuiGrid-root MuiGrid-container css-1peg4es">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-9 css-1s464qd">
                        <p class="MuiTypography-root MuiTypography-body1 css-12no0y0">A cross-plalform software</p>
                        <p class="MuiTypography-root MuiTypography-body1 css-xfg3x0">A full fledged solution highly suitable to build any restaurant.</p>
                        <button class="MuiButtonBase-root jss21 css-uktsms" tabindex="0" type="button" variant="contained">View Site<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-3 css-wfj9yb">
                        <img src="~/img/icons/home.svg" />
                    </div>
                </div>
            </div>
            <div class="MuiBox-root css-10ga4nx"></div>
            <div class="MuiBox-root css-1jwxni2">
                <canvas role="img" height="456" width="913" style="display: block; box-sizing: border-box; height: 364.8px; width: 730.4px;"></canvas>
            </div>
            <div class="MuiBox-root css-kni72o"></div>
        </div>
        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 css-1158r6n">
            <div class="MuiBox-root css-481n3y">
                <p class="MuiTypography-root MuiTypography-body1 css-55sbus">Total Users</p>
                <p class="MuiTypography-root MuiTypography-body1 css-1qnzcby">@Model.Users</p>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAArCAYAAAD2f+EJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACnSURBVHgB7ZdbCoAgEEWnaHFBi8r2VNDuDItLBpLiK4l7fib88TAzNiqSgN7GWa+jNlES6CUFLeoRP5HIBCUAJQAlACXAPyVi5kn+TETME/YEGFyLZz1NOjtR3bQvUgB7D3cmMt0T3i3uPdgTgBIgWCLXzTpJouSJYU+ANiRKNlywRJVftFeiAapI+EpeJxOekvOIAkoASgBKAEoAM0WvFxai/V1p7QDFxVx06ZcdcwAAAABJRU5ErkJggg==" alt="stat" width="30" height="40" style="margin-left: 40%;">
            </div>
            <div class="MuiBox-root css-481n3y">
                <p class="MuiTypography-root MuiTypography-body1 css-55sbus">Total Vendors</p>
                <p class="MuiTypography-root MuiTypography-body1 css-1qnzcby">@Model.Vendors</p>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAArCAYAAAD2f+EJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACxSURBVHgB7Za7DYQwEEQHdA1dWSS0gGmBjKroiL8GEVgY2YvlYF6CROKn9Xp2KyTQTmNXYXYL4IZ/0yOSGgnsAucXDgkkSVghCSIJIgkiCVKExA/GxMwT80rEzBP1BPH2hNWe8MT9DG8lrPaEJ+5nqCeIJMjrxPzyxbyuxJcvRj1BymjMHBEdos4R0UEJFID5ZuUjdOVZKhG6cj1RIgkiCSIJIgmyTVEcWb5F65Xpuf+tvKVLwf55MSkAAAAASUVORK5CYII=" alt="stat" width="30" height="40" style="margin-left: 40%;">
            </div>
            <div class="MuiBox-root css-481n3y">
                <p class="MuiTypography-root MuiTypography-body1 css-55sbus">Total Restaurants</p>
                <p class="MuiTypography-root MuiTypography-body1 css-1qnzcby">@Model.Restaurants</p>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAiCAYAAADRcLDBAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACXSURBVHgB7ZVBCsAgDASjH2/7g5b+sn2EbQ4LHgSDxughA5LgaXA1BprE9d5bSrSH8C+axPncCX2kBXAJIJbgi8Q5ciVlxBJ8k/M6RWIkRYmRRy+WGHn0YglruiS0YuuS0IrNJyZwCaAu0fJiovZ0bHkx0Xo6FiVoAUwkapGbSNQi9zkBXAK4BHAJ4BKAf9GDG9S8t9r7AJEbeqcwFnGiAAAAAElFTkSuQmCC" alt="stat" width="30" height="40" style="margin-left: 40%;">
            </div>
            <div class="MuiBox-root css-481n3y">
                <p class="MuiTypography-root MuiTypography-body1 css-55sbus">Total Riders</p>
                <p class="MuiTypography-root MuiTypography-body1 css-1qnzcby">@Model.Riders</p>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAArCAYAAAD2f+EJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADBSURBVHgB7ZdNCsIwEIUH9Q6u3HgAD+Daezney4VuPIAHcOOqp2gb6IMS+pP+TBLK+2B4ECj9mExTspcF3C7X+/l4etUlv+L/lpnsZBnqZRKJVaAEoASgBKAE2KaE+5/UVboMfcaiE+plEonJZCFx6Fps9lNdPb+fhxjQfkdfJ9RLCxTJmQCUAMESc07C1SXE8IvhTIA8JCwHLlhC4hzRoxLJiSIxtuWxOqFeJpEYhBKAEoASgBIgGwncsNo3rahrFQ6KK5mTkXOOAAAAAElFTkSuQmCC" alt="stat" width="30" height="40" style="margin-left: 40%;">
            </div>
        </div>
    </div>
</div>
