@model FoodOrderingAdminDashboard.Models.VendorViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodOrderingAdminDashboard.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Create Restaurant</title>
</head>
<body>
    <div id="root" style="background:linear-gradient(237.49deg,#eef4fa .63%,#dee6ed 85.49%)">
        <div></div>        
        <div>
            <div class="MuiBox-root css-1b3bey">
                <header class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorPrimary MuiAppBar-positionStatic css-z16uab">
                    <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular css-i6s8oy">
                        <div class="MuiTypography-root MuiTypography-subtitle1 css-1ywqvl3"></div>
                        <div>
                            <div class="MuiBox-root css-0" style="display: flex; flex-direction: row; justify-content: center; background-color: white; padding-right: 10px; border-radius: 40px; height: 40px; width: 90px;">
                                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeLarge css-1l1167e" tabindex="0" type="button" aria-label="account of current user" aria-controls="menu-appbar" aria-haspopup="true"><img alt="..." src="/static/media/team-4-800x800.23007132.jpg" style="height: 35px; width: 35px; border-radius: 50%; margin-left: -10px;"><span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                                <p class="MuiTypography-root MuiTypography-body1 css-1i5whhw">Ninja</p>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="MuiBox-root css-oxk0s3"></div>
            <div class="MuiContainer-root MuiContainer-maxWidthLg css-1qsxih2">
                <div class="MuiBox-root css-1mfv9sp">
                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-isbt42">
                        @foreach(var item in Model.Restaurants){
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3 css-1etv89n">
                            <a underline="none" href="#/admin/dashboard/karachi-food" style="text-decoration: none;">
                                <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-8jf5nl" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 23px; border-radius: 25px;">
                                    <button class="MuiButtonBase-root MuiCardActionArea-root css-1jluznr" tabindex="0" type="button">
                                        <img class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img css-1kmfat1" src="~/images/@item.Image" height="120" alt="Restaurant Image">
                                            <img class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img css-1a4lqtq" src="~/images/@item.Image" alt="round img">
                                        <div class="MuiCardContent-root css-1qw96cp">
                                            <div class="MuiTypography-root MuiTypography-h6 css-muv6yd">@item.RestaurantName</div>
                                            <span class="MuiTypography-root MuiTypography-caption css-1x26o3p">@item.City, @item.Country</span>
                                        </div>
                                        <span class="MuiCardActionArea-focusHighlight css-jo3ec3"></span><span class="MuiTouchRipple-root css-w0pj6f"></span>
                                    </button>
                                </div>
                            </a>
                        </div>
                        }
                    </div>
                </div>
                <div class="jss17 MuiBox-root css-1hnm6b6">
                    <button id="showModalButton" class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium css-okvdpn" tabindex="0" type="button" style="background-color: rgb(0, 0, 0); color: rgb(144, 234, 147); border-radius: 10px;">
                        <span class="MuiButton-startIcon MuiButton-iconSizeMedium css-6xugel">
                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AddIcon" fill="#000">
                                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                            </svg>
                        </span>
                        Add New Restaurant<span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </button>
                </div>
            </div>
            <div class="MuiContainer-root MuiContainer-maxWidthLg css-1qsxih2">
                <div class="jss39 MuiBox-root css-1or5pnu">
                    <div class="MuiBottomNavigation-root css-pj6n2i">
                        <p class="MuiTypography-root MuiTypography-body1 jss41 css-5vqbp2" value="0">©2022</p>
                        <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss40 css-14mzf3e" href="https://multivendor.ninjascode.com/" target="_blank" value="1">Enatega Multivendor</a><a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss40 css-14mzf3e" href="https://ninjascode.com/pages/ourteam.html" target="_blank" value="2">About Us</a><a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss40 css-14mzf3e" href="" target="_blank" value="3">Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="presentation" class="MuiModal-root css-8ndowl" style="width: 65%; margin-left: 18%; overflow-y: auto; display: none;">
        <div aria-hidden="true" class="MuiBackdrop-root MuiModal-backdrop css-919eu4" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;"></div>
        <div tabindex="0" data-testid="sentinelStart"></div>
        <div class="jss76 MuiBox-root css-0">
            <div class="jss75 MuiBox-root css-0" style="align-items: start;">
                <div class="jss77 MuiBox-root css-0">
                    <h6 class="MuiTypography-root MuiTypography-h6 jss79 css-1bil0j5">Add Restaurant</h6>
                </div>
                <div class="MuiBox-root css-gp6v3o"><label>Available</label><span class="MuiSwitch-root MuiSwitch-sizeMedium css-ecvcn9"><span class="MuiButtonBase-root MuiSwitch-switchBase MuiSwitch-colorPrimary PrivateSwitchBase-root MuiSwitch-switchBase MuiSwitch-colorPrimary Mui-checked css-96ule7" style="color: black;"><input class="PrivateSwitchBase-input MuiSwitch-input css-1m9pwf3" type="checkbox" checked=""><span class="MuiSwitch-thumb css-19gndve"></span><span class="MuiTouchRipple-root css-w0pj6f"></span></span><span class="MuiSwitch-track css-1ju1kxc"></span></span></div>
            </div>
            <div class="jss81 MuiBox-root css-0">
                <form id="restaurantForm" enctype="multipart/form-data">
                    <div class="jss17 MuiBox-root css-0">
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-username" name="EmailId" placeholder="Restaurant's username" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-password" name="Password" placeholder="Restaurant's password" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                    </div>
                    <div class="jss17 MuiBox-root css-0">
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-name" name="RestaurantName" placeholder="Restaurant's name" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-phoneNumber" name="PhoneNumber" placeholder="Restaurant's Phone" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                    </div>
                    <div class="jss17 MuiBox-root css-0">
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-address" name="Address" placeholder="Restaurant's address" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-city" name="City" placeholder="Restaurant's city" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                    </div>
                    <div class="jss17 MuiBox-root css-0">
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-country" name="Country" placeholder="Restaurant's Country" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-postalCode" name="PostalCode" placeholder="Restaurant's postal code" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                    </div>
                    <div class="jss17 MuiBox-root css-0">
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-delivery-time" name="deliveryTime" placeholder="Delivery Time" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-minimum-order" name="minimumOrder" placeholder="Minimum order" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                    </div>
                    <div class="jss17 MuiBox-root css-0">
                        <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise"><input id="input-type-sales-tax" name="salesTax" placeholder="Sales tax" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                    </div>
                    <div class="jss16 MuiBox-root css-178yklu" style="align-items: center;">
                        <img id="file-upload-preview" class="jss82" alt="Restaurant Image" src="">
                        <label for="file-upload" class="file-upload jss84">Upload an image</label>
                        <input class="jss83" id="file-upload" name="RestaurentImage" type="file">
                    </div>
                    <div class="MuiBox-root css-0">
                        <button id="saveRestaurant" class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium jss21 css-grj8dm" tabindex="0" type="button">SAVE<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                    </div>
                </form>
                <div class="MuiBox-root css-1yuhvjn"></div>
            </div>
        </div>
        <div tabindex="0" data-testid="sentinelEnd"></div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
<script>
    // JavaScript code
    var imageURL = "";
    document.addEventListener('DOMContentLoaded', function () {
        // Get references to the input and image elements
        var fileInput = document.getElementById('file-upload');
        var previewImage = document.getElementById('file-upload-preview');

        // Add an event listener to the file input element
        fileInput.addEventListener('change', function (event) {
            // Check if a file was selected
            if (fileInput.files && fileInput.files[0]) {
                // Create a URL for the selected file and set it as the image source
                previewImage.src = window.URL.createObjectURL(fileInput.files[0]);
                console.log(fileInput.files[0])
                imageURL = fileInput.files[0];
            } else {
                // Clear the image source if no file is selected or if the selection is cleared
                previewImage.src = '';
            }
        });
    });

    $(document).ready(function () {
        $("#file-upload").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".file-upload").addClass("selected").html(fileName);
        });
        var vendorId = localStorage.getItem('VenderId');
        var vendorEmail = localStorage.getItem('VendorEmail');
        $("#vendorId").val(vendorId);
        // Select the trigger element
        var showModalButton = $('#showModalButton');

        // Select the modal element
        var modal = $('.MuiModal-root');

        // Add a click event listener to the trigger element
        showModalButton.click(function () {
            // Show the modal by changing its CSS style
            modal.css('display', 'block');
        });

        // Add a click event listener to close the modal
        modal.find('.MuiBackdrop-root').click(function () {
            // Hide the modal when clicking outside of it
            modal.css('display', 'none');
        });
        $('#saveRestaurant').click(function () {
            //e.preventDefault(); // Prevent the default form submission
            var formData = new FormData();
            formData.append("VendorId", vendorId);
            formData.append("RestaurantName", $('#input-type-name').val());
            formData.append("EmailId", $('#input-type-username').val());
            formData.append("PhoneNumber", $('#input-type-phoneNumber').val());
            formData.append("Address", $('#input-type-address').val());
            formData.append("City", $('#input-type-city').val());
            formData.append("Country", $('#input-type-country').val());
            formData.append("PostalCode", $('#input-type-postalCode').val());
            formData.append("DeliveryTime", $('#input-type-delivery-time').val());
            formData.append("MinimumOrder", $('#input-type-minimum-order').val());
            formData.append("SalesTax", $('#input-type-sales-tax').val());
            formData.append("Password", $('#input-type-password').val());
            formData.append("RestaurentImage", imageURL);
            formData.append("VendorEmail", vendorEmail);
            $.ajax({
                type: 'POST',
                url: '/Restaurants/CreateRestaurant', // Replace with the correct URL
                data: formData,
                processData: false, // Prevent jQuery from processing the data
                contentType: false,
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert("Restaurant created successfully");
                    location.reload(true);
                },
                error: function (error) {
                    // Handle any errors here
                    alert("Restaurant not created");
                }
            });
        });
    });

</script>
